/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
}

/* Header Styles */
.logo h4 {
    font-size: 40px;
    color: rgb(226, 148, 46);  
      
}

.logo h4 span {
    font-size: 27px;
    color: black;
    text-decoration: overline rgb(226, 148, 46);
}
.logo h4 i{
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.945);
}
.logo h5{
    margin-left: 45px;
}

/* Header Layout */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 30px 30px rgba(0,0,0,0.5);

}

/* Navbar Styles */
.navbar {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.navbar li {
    display: inline-block;
    padding: 30px;
}

.navbar li a:hover {
    transition: 0.3s;
    font-weight: bold; 
    color: rgb(226, 148, 46);
    font-size: 26px;
    text-shadow: 0 10px 5px rgba(0,0,0,0.5);
}

/* Button Styles */
button {
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    border-color: rgb(226, 148, 46);
    background-color:rgb(226, 148, 46);
    font-size: 15px;
}

header button:hover {
    transition: 0.3s;
    padding: 14px 24px;
    font-size: 18px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}

/*Banner*/
.banner-image{
  background-image: linear-gradient(rgba(223, 143, 38, 0.7),rgba(0,0,0,0.5)),url(images/img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin: 5px;
}
.banner-text{
    text-align: center;
    color: white;
    line-height: 30px;
}
.banner-text h1{
    font-size: 35px;
    font-weight: 30px;
}
.banner-text p{
    font-size: 20px;
}
.banner-btn{
    padding: 6px 20px;
    background-color: white;
    text-decoration: none;
    color:black;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;

}
.banner-btn:hover{
    padding: 8px 22px;
    transition: 0.5s;
    color: rgb(226, 148, 46);
    background-color: black;
    font-size: 15px;
}
.banner-text h1:hover{
    transition: 0.5s;
    color: black;
    font-size: 38px;
}
.banner-text p:hover{
    transition: 0.5s;
    color: yellow;
    font-size: 22px;
}
/* Footer Styles */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
/*Container Layout*/
.container {
    background-image: linear-gradient(rgba(223, 143, 38, 0.7),rgba(223, 143, 38, 0.7),rgba(0,0,0,0.5)),url(images/img2.jpg);
    padding: 60px 30px 20px;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px -30px 70px rgba(0,0,0,0.5);
}
/*Social Icons Styling*/
.social-icon {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.social-icon a {
    text-align: center;
    margin: 15px;
    border-radius: 5px;
}

.social-icon a i {
    font-size: 30px;
    color: white;
}

.social-icon a:hover {
    transition: 0.8s;
    background-color: white;
}

.social-icon a i:hover {
    transition: 0.8s;
    color: black;
    font-size: 40px;
}
/*Footer Nav Styling*/
.footer-nav {
    padding: 30px 0;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer-nav ul li {
    margin: 15px;
}

.footer-nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.footer-nav ul li a:hover {
    transition: color 0.5s, font-size 0.5s, text-decoration 0.5s;
    color: white;
    font-size: 18px;
}
/*Footer Bottom Styling*/
.footer-bottom {
    padding: 15px;
    text-align: center;
    font-size: 18px;
    background-color: white;
    border-radius: 20px;
}
/*About Page CSS*/
.about-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    overflow-x: hidden;
    grid-gap: 50px;
    padding: 20px;
    margin: 0 50px;
}
.about-container .about-img img{
    width: 100%;
    height: 300px;
    border-radius: 40px;
    padding: 20px;
    transition: 0.6s;
}
.about-container .about-img:hover img{
    transform: scale(1.13);
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.wrapper .about-content h1{
    font-size: 40px;
    color: rgb(226, 148, 46);
}
.wrapper .about-content h1 span{
    font-size: 29px;
    color: black;
    text-decoration: overline rgb(226, 148, 46);
}
.wrapper .about-content p{
    line-height: 1.4;
    font-size: 18px;
}
.about-btn{
    padding: 6px 20px;
    background-color: black;
    text-decoration: none;
    color:white;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;

}
.about-btn:hover{
    padding: 8px 22px;
    transition: 0.5s;
    color: rgb(226, 148, 46);
    background-color: white;
    font-size: 15px;
    border: 2px solid rgb(226, 148, 46);
}
/*Sign UP CSS*/
.main{
    width: 450px;
    margin: 100px auto;
    background-image: linear-gradient(rgba(223, 143, 38, 0.4),rgba(223, 143, 38, 0.4)),url(images/img2.jpg);
    padding-right: 24px;
    padding-left: 4px;
    padding-bottom: 4px;
    border-radius: 15px;
    box-shadow:0px 30px 30px rgba(0,0,0,0.5);
}
.register{
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
    color: black;
    background-color: white;
}
#register{
    margin: 40px;
}
input#name{
    padding: 13px;
    width: 350px;
    border-radius: 8px;
    border: 2px solid rgb(226, 148, 46);
    outline: 0;
    box-shadow: inset 1px 3px 5px;
}
#text{
    padding: 13px;
    width: 350px;
    border-radius: 8px;
    border: 2px solid rgb(226, 148, 46);
    outline: 0;
    box-shadow: inset 1px 3px 5px;
    height: 400px;

}
.btn-signup{
    padding: 6px 20px;
    background-color: black;
    text-decoration: none;
    color:white;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    outline: 0;
}
.btn-signup:hover{
    padding: 8px 22px;
    transition: 0.5s;
    color: rgb(226, 148, 46);
    background-color: white;
    font-size: 15px;
    border: 2px solid rgb(226, 148, 46);
}
.signup-btn{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.signup-btn:hover{
    transition: color 0.5s, font-size 0.5s, text-decoration 0.5s;
    color: rgb(226, 148, 46);
    font-size: 18px;
}
.map{
    width: 950px;
    height: 500px;
    padding: 13px;
    border-radius: 8px;
    border: 2px solid rgb(226, 148, 46);
    outline: 0;
    box-shadow: inset 1px 3px 5px;
}